@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Ce site est la dernière étape de notre travail. Vous y trouverez différents gestionnaires pour notre jeu de tournois de jedis mais aussi le jeu de paris. Pour jouer il faudra être connecté. N'oubliez pas aussi que ce site utilise du Javascript.</p>

<p>Pour toutes questions n'hésitez pas à nous contacter.</p>
