@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    ISIMA<br />
    Clermont-Ferrand<br />
</address>

<address>
    <strong>BBS007:</strong>   <a href="mailto:bebarbesan@poste.isima.fr">bebarbesan@poste.isima.fr</a><br />
    <strong>begarco:</strong> <a href="mailto:begarco@poste.isima.fr">begarco@poste.isima.fr</a>
</address>