@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    ISIMA<br />
    Clermont-Ferrand<br />
</address>

<address>
    <strong>BBS007:</strong>   <a href="mailto:fake@example.com">bbs007@isima.fr</a><br />
    <strong>begarco:</strong> <a href="mailto:fake@example.com">begarco@isima.fr</a>
</address>