@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebService Jedi !</h1>
    <p class="lead">Cette page web va permettre de gérer les différentes entités du tournoi de Jedis.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Informations complémentaires</h2>
        <p>
            ...
        </p>
    </div>

</div>